*{
	margin: 0;
	padding: 0;
	font-family: Arial, Tahoma, Helvetica;
}
body{
	background-color:"#FAF0E6";
}
h1 {
	text-decoration: none;
}
hr{
	border: 3px solid #c22483;
  	
}
fieldset{
	color: #21315e;
	padding: 5px;
	min-height: 200px;
	border: 3px #c22483 solid;
  	border-radius: 15px;
  	box-shadow: 3px 3px;
}
footer{
	margin-top: 20px;
	min-height: 200px;
	background-color: #5073af;
}
	footer h2{
	text-decoration: none;
	color: #c22483;
	padding: 5px;
	font-size: 16px;
    	line-height: 1.8;
    	font-weight: 400;
	}
/* ID */
#logo{
	text-align: left;
}
#menu {
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
	text-align: center;
	}
	#menu a{
		padding: 30px 15px;
		text-decoration: none;
		color: #c22483;
		}
		#menu a:hover{
			background-color: #c22483;
			color: white;
		}	
#emergencias{
	min-height: 200px;
	background-color: red;
}		
#servicos {
	text-align: center;
	margin: 20px auto 20px auto;
	background: white;
}
	#servicos fieldset{
	width: 90%;
	margin: 0px auto 0px auto;
}
	#servicos legend{
		margin: 0px auto 0px auto;
	}
	#servicos a{
		padding: 30px 15px 30px 15px;
		text-decoration: none;
		color: #c22483;
		}
		#servicos a:hover{
			background-color: #c22483;
			color: white;
			}	
	
	#efeito_servicos_emergencias{
		background-color: #c22483;
		min-height: 100px;
		margin-top: 10px;
		padding: 10px;
		display: none;
	}
	#efeito_servicos_endodontia{
		background-color: #21315e;
		min-height: 100px;
		margin-top: 10px;
		padding: 10px;
		display: none;
	}

/* class */
.container{
	background: white;
	margin: 10px auto 5px auto;
	background: white;
	font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}
.corpo{
	width: 100%;
	margin: 0px auto 0px auto;
	background: white;
}
.cabecalho{
	background: white;
	margin: 0px auto 0px auto;
}
	.rede_social{
	float: right;
	display: flex;
	}
	.rede_social img{
		max-width: 50px; 
		max-height: 50px;
		padding: 5px;
		margin-top: 120px; 
	}
	.rede_social h3{
		padding: 5px;
		display: row;
	}
	.row{
		flex-direction: row;

	}
		.rede_social1{
		display: row;
	}
	.conteudo{
	clear:both;
	width: 100%;
	margin: 0px auto 0px auto;
	color: #5073af;
	background: white;
}
	.conteudo h1{
		width: 75%;
		text-align: center;
		margin: 0px auto 0px auto;
	}

.efeito_servico{
	display:none;
}	
.equipe{
	width: 75%;
	text-align: center;
	margin: 0px auto 0px auto;
	display: flex;
}
	.dentista{
		flex: 1;
		margin: 5px;
		text-align: center;
		font-size: 1.5em;
	}
.contato{
	width: 75%;
	margin: 0px auto 0px auto;

}
	.contato fieldset{
	padding: 10px;
	}
	.contato input{
		background: none;
		padding: 2px;
		border: 2px #c22483 solid;
  		border-radius: 10px;
	}
	.contato textarea{
		border: 2px #c22483 solid;
  		border-radius: 10px;
	}
.txt_footer{
	float: right;
	margin: 40px 20px 0px 0px;
	vertical-align: middle;
}
